<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/style.css" />

    <title>MISSION</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top"
      style="background-color: #222831"
    >
      <div class="container">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('home') }}">
          <img src="../static/assets/mission.svg" alt="" width="80" />MISSION</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('home')}}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('more') }}"
                >More...</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="row" style="padding-top: 3rem; background-color: #222831">
      <div class="col-6 d-flex flex-column justify-content-center text-center">
        <h3 class="text-light fw-bold">
          <span style="color: #57b760">Expression of </span> Yours
        </h3>
        <div
          class="card d-flex flex-column align-items-center ms-auto mt-2"
          style="width: 610px; height: 450px"
        >
          <div class="card-body border-5" style="width: 100%; height: 100%">
            <img
              id="bg"
              class="center img-fluid rounded"
              src="{{ url_for('video_feed') }}"
              style="height: 420px"
            />
          </div>
        </div>
      </div>
      <div
        class="col d-flex flex-column justify-content-center text-center pt-5"
      >
        <h3 class="text-light fw-bold pt-5">
          Recommendation <span style="color: #57b760">for You</span>
        </h3>
        <div
          class="card d-flex flex-column align-items-center mt-2"
          style="width: 630px; height: 450px; overflow: hidden"
        >
          <div
            class="card-body border-5"
            id="ResultArea"
            style="width: 100%; height: 100%; object-fit: cover"
          ></div>
        </div>
        <div class="mt-4 pb-3">
          <button
            type="button"
            class="btn btn-lg text-light fw-bold fs-3"
            style="width: 40%; background-color: #57b760"
            id="freezeButton"
          >
            Freeze
          </button>
        </div>
      </div>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        const intervalMilis = 100;
        var intervalID;
        var isIntervalRunning;

        function runInterval() {
          // Constantly Update Table
          updateTable();
        }

        // Fungsi untuk memperbarui tabel dari data JSON
        function updateTable() {
          $.getJSON("/t", function (data) {
            CreateHtmlTable(data);
            console.log(data, "DATA");
          });
        }

        function CreateHtmlTable(data) {
          //Clear result div
          $("#ResultArea").html("");
          //Crate table html tag
          var table = $(
            "<table class = 'table table-auto' id=DynamicTable></table>"
          ).appendTo("#ResultArea");
          var rowHeader = $("<tr></tr>").appendTo(table);
          $("<td></td>").text("Lagu").appendTo(rowHeader);
          $("<td></td>").text("Artist").appendTo(rowHeader);
          $("<td></td>").text("spotify_uri").appendTo(rowHeader);
          //Get JSON data by calling action method in controller
          $.each(data, function (i, value) {
            //Create new row for each record
            var row = $("<tr></tr>").appendTo(table);
            $("<td></td>").text(value.Lagu).appendTo(row);
            $("<td></td>").text(value.Artist).appendTo(row);
            $("<td></td>")
              .html(
                "<a href='" +
                  value.spotify_uri +
                  "' target='_blank'> listen </a>"
              )
              .appendTo(row);
          });
        }

        // Mengubah teks tombol dan mengelola interval saat tombol ditekan
        $("#freezeButton").on("click", function () {
          if (isIntervalRunning) {
            clearInterval(intervalID);
            isIntervalRunning = false;
            $("#freezeButton").text("Find");
            console.log("Ambil data dihentikan");
          } else {
            intervalID = setInterval(runInterval, intervalMilis);
            isIntervalRunning = true;
            $("#freezeButton").text("Freeze");
            console.log("Ambil data dimulai");
          }
        });

        // Panggil updateTable saat dokumen pertama kali dimuat
        intervalID = setInterval(runInterval, intervalMilis);
        isIntervalRunning = true;
      });
    </script>
  </body>
</html>
