<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/style.css" />

    <title>MISSION</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top"
      style="background-color: #222831"
    >
      <div class="container">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('home') }}">
          <img src="../static/assets/mission.svg" alt="" width="80" />MISSION</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('home') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('more') }}"
                >More...</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Our Team -->
    <section id="team" style="background-color: #222831; padding-top: 10rem">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h1 class="fw-bold text-white" style="font-size: 4rem">
              <span style="color: #57b760">Cara</span> Pakai
            </h1>
            <img
              src="../static/assets/Ellipse 3.svg"
              alt=""
              style="width: 35%; padding-bottom: 1rem"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-4 d-flex justify-content-center">
            <div
              class="card text-light d-flex flex-column align-items-center mb-3 text-center"
              style="
                width: 18rem;
                background-color: transparent;
                border-radius: 10px;
              "
            >
              <div
                class="border rounded-circle w-25 mt-2"
                style="background-color: #57b760"
              >
                <h1 class="text-light fw-bold text-center">1</h1>
              </div>
              <div class="card-body">
                <p
                  class="card-text fw-bold"
                  style="color: #eeeeee; opacity: 75%"
                >
                  Pastikan Kamera Komputer/ Laptop dalam keadaan tidak tertutup
                </p>
              </div>
            </div>
          </div>

          <div class="col-4 d-flex justify-content-center">
            <div
              class="card text-light d-flex flex-column align-items-center mb-3 text-center"
              style="
                width: 18rem;
                background-color: transparent;
                border-radius: 10px;
              "
            >
              <div
                class="border rounded-circle w-25 mt-2"
                style="background-color: #57b760"
              >
                <h1 class="text-light fw-bold text-center">2</h1>
              </div>
              <div class="card-body">
                <p
                  class="card-text fw-bold"
                  style="color: #eeeeee; opacity: 75%"
                >
                  Klik “Coba Fitur” Pada Bagian Home Page Website Ini
                </p>
              </div>
            </div>
          </div>

          <div class="col-4 d-flex justify-content-center">
            <div
              class="card text-light d-flex flex-column align-items-center mb-3 text-center"
              style="
                width: 18rem;
                background-color: transparent;
                border-radius: 10px;
              "
            >
              <div
                class="border rounded-circle w-25 mt-2"
                style="background-color: #57b760"
              >
                <h1 class="text-light fw-bold text-center">3</h1>
              </div>
              <div class="card-body">
                <p
                  class="card-text fw-bold"
                  style="color: #eeeeee; opacity: 75%"
                >
                  Pastikan Kamu Berada Di Tempat Yang Cukup Terang Dan Wajah
                  Dapat Tertangkap Kamera
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-4 d-flex justify-content-center">
            <div
              class="card text-light d-flex flex-column align-items-center mb-3 text-center"
              style="
                width: 18rem;
                background-color: transparent;
                border-radius: 10px;
              "
            >
              <div
                class="border rounded-circle w-25 mt-2"
                style="background-color: #57b760"
              >
                <h1 class="text-light fw-bold text-center">4</h1>
              </div>
              <div class="card-body">
                <p
                  class="card-text fw-bold"
                  style="color: #eeeeee; opacity: 75%"
                >
                  Cek Apakah Kamera Membaca Emosimu Dengan Jelas Atau Tidak
                </p>
              </div>
            </div>
          </div>

          <div class="col-4 d-flex justify-content-center">
            <div
              class="card text-light d-flex flex-column align-items-center mb-3 text-center"
              style="
                width: 18rem;
                background-color: transparent;
                border-radius: 10px;
              "
            >
              <div
                class="border rounded-circle w-25 mt-2"
                style="background-color: #57b760"
              >
                <h1 class="text-light fw-bold text-center">5</h1>
              </div>
              <div class="card-body">
                <p
                  class="card-text fw-bold"
                  style="color: #eeeeee; opacity: 75%"
                >
                  Klik Tombol Pause Untuk Mendapatkan Lagu Rekomendasi
                </p>
              </div>
            </div>
          </div>

          <div class="col-4 d-flex justify-content-center">
            <div
              class="card text-light d-flex flex-column align-items-center mb-3 text-center"
              style="
                width: 18rem;
                background-color: transparent;
                border-radius: 10px;
              "
            >
              <div
                class="border rounded-circle w-25 mt-2"
                style="background-color: #57b760"
              >
                <h1 class="text-light fw-bold text-center">6</h1>
              </div>
              <div class="card-body">
                <p
                  class="card-text fw-bold"
                  style="color: #eeeeee; opacity: 75%"
                >
                  Selesai, Kamu Tinggal Meng-klik Lagu Yang Direkomendasikan
                  Sistem Kami
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of Our Team -->

    <!-- Footer -->
    <footer></footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
