<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../static/css/more.css" />

    <title>MISSION</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top"
      style="background-color: #222831"
    >
      <div class="container">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('home') }}">
          <img src="../static/assets/mission.svg" alt="" width="80" />MISSION</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('home') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('more') }}"
                >More...</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Description -->

    <section
      class="jumbotron jumbotron-fluid text-center"
      style="background-color: #222831; height: 50rem"
    >
      <div class="container">
        <div
          style="
            height: 20rem;
            background-image: url(../static/assets/doodle_items.svg);
            background-size: 70%;
            background-position: 54% 25%;
            background-repeat: no-repeat;
          "
        >
          <h1
            class="display-4 fw-bold"
            style="color: white; position: relative; top: 45%"
          >
            Program <span style="color: #57b760">Studi Independen</span>
          </h1>
        </div>
        <div>
          <p class="text-light">
            <span class="fw-bold">Program studi independen</span> memberikan kebebasan kepada mahasiswa untuk merancang kurikulum studi mereka sendiri, 
            menggabungkan mata pelajaran yang sesuai dengan minat dan tujuan karir mereka. Ini memberikan kesempatan unik bagi mahasiswa untuk mengambil kontrol penuh atas pengalaman pendidikan mereka, memungkinkan fleksibilitas dan penyesuaian yang lebih besar sesuai dengan kebutuhan individu.
          </p>
          <p class="pt-5 text-light">
            Web Aplikasi ini merupakan bentuk <span class="fw-bold">project akhir</span> dari Program Studi Independen yang kami ikuti dari mitra Orbit Future Academy. 
            Dengan adanya web aplikasi ini, diharapkan kami mampu memahami kecerdasan buatan dan cara mengimplementasikannya yang akan berguna bagi masa depan kami.
          </p>
          <p class="text-light">
            Terima kasih kepada program studi independen atas pengalaman pendidikan yang luar biasa. Kehadirannya memberi kami kesempatan untuk mengeksplorasi minat pribadi, 
            menggali lebih dalam dalam bidang yang kami cintai, dan membangun keahlian yang sesuai dengan cita-cita karir kami.
          </p>
        </div>
      </div>
    </section>

    <!-- end of description -->

    <!-- Orbit -->

    <section
      class="jumbotron jumbotron-fluid"
      style="background-color: #222831; height: 50rem"
    >
      <div class="container">
        <div class="content">
          <h1
            class="display-5 fw-bold"
            style="color: white; position: relative; top: 45%"
          >
            Orbit Future Academy
          </h1>
          <img
            src="../static/assets/Ellipse 3.svg"
            alt=""
            style="width: 40%; position: relative; top: 42%"
          />
        </div>
        <div class="text-center pt-5">
          <p class="text-light">
            Orbit Future Academy adalah mitra yang menjalin kerjasama dengan Kampus Merdeka. 
            Orbit didirikan pada tahun 2016 dengan tujuan untuk meningkatkan kualitas hidup melalui inovasi, 
            edukasi, dan pelatihan keterampilan. Mitra Orbit berfokus dalam bidang Artificial Intelligence atau kecerdasan buatan. 
            Orbit menyediakan pelatihan yang dikhususkan untuk belajar mengenai AI yang metode pembelajarannya menggunakan video, bahan bacaan dan juga kelas induksi. 
          </p>
          <p class="pt-5 text-light">
            Terimakasih sebesar besarnya pada Orbit Future Academy yang telah berhasil membimbing kami dalam memahami bidang Artificial Intelligence atau kecerdasan buatan, 
            yang tentunya belum diajarkan oleh kampus kami. 
          </p>
          <p class="text-light">
            Besar harapan kami untuk Orbit agar terus memberikan inovasi kepada mahasiswa yang tertarik di bidang kecerdasan buatan, dan mampu menampung mahasiswa tersebut.
          </p>
        </div>
      </div>
    </section>

    <!-- Orbit -->

    <!-- ITTP -->

    <section
      class="jumbotron jumbotron-fluid"
      style="background-color: #222831; height: 50rem"
    >
      <div class="container">
        <div class="content">
          <h1
            class="display-5 fw-bold"
            style="color: white; position: relative; top: 45%"
          >
            Institut Teknologi Telkom Purwokerto
          </h1>
          <img
            src="../static/assets/Ellipse 3.svg"
            alt=""
            style="width: 68%; position: relative; top: 44%"
          />
        </div>
        <div class="text-center pt-5">
          <p class="text-light">
            Institut Teknologi Telkom Purwokerto (ITTP) adalah perguruan tinggi swasta yang didirikan pada tahun 2002 dibawah naungan Yayasan Pendidikan Telkom dan PT. 
            Telkom Indonesia. Fokus utama ITTP adalah pada pengembangan ilmu pengetahuan berbasis teknologi informasi, khususnya dalam bidang Healthcare, Agro-Industry, Tourism, dan Small Medium Enterprise (HATS).
          </p>
          <p class="pt-5 text-light">
            Sejalan dengan value yang ditetapkan yaitu Inovative, Trsutworthy, Team-work & Professional, kampus ini berupaya agar mampu menghasilkan lulusan yang memiliki kompetensi dan memiliki daya saing tinggi serta mampu menciptakan inovasi yang bermanfaat bagi peningkatan ekonomi masyarakat secara nasional.
          </p>
        </div>
      </div>
    </section>

    <!-- ITTP -->

    <!-- UPI -->

    <section
      class="jumbotron jumbotron-fluid"
      style="background-color: #222831; height: 50rem"
    >
      <div class="container">
        <div class="content">
          <h1
            class="display-5 fw-bold"
            style="color: white; position: relative; top: 45%"
          >
            Universitas Pendidikan Indonesia
          </h1>
          <img
            src="../static/assets/Ellipse 3.svg"
            alt=""
            style="width: 60%; position: relative; top: 44%"
          />
        </div>
        <div class="text-center pt-5">
          <p class="text-light">
            Universitas Pendidikan Indonesia (UPI) meupakan PTN yang banyak menghasilkan tokoh-tokoh terbaik di Indonesia, 
            seperti Bapak Sunaryo Kartadinata, duta besar Indonesia untuk Uzbekistan. UPI sudah berdiri sejak tahun 1954 yang pada awalnya bernama Perguruan Tinggi Pendidikan Guru (PTPG) dan kemudian dikenal dengan Institut Keguruan dan Ilmu Pendidikan (IKIP), 
            pada tahun 1999 kemudian dikenal menjadi UPI hingga sekarang. UPI memakai konsep multikampus. Yang dimana kampus utama UPI berada di Bandung, Jawa Barat, tepatnya di Jalan Dr. Setiabudhi no. 229. UPI juga memiliki lima kampus lain yang tersebar sebagai kmpus daerah yaitu di Cibiru, 
            Tasikmalaya, Sumedang, Purwakarta, dan Serang. 
          </p>
          <p class="pt-5 text-light">
            Kerjasama antara Universitas Pendidikan Indonesia (UPI) dalam Program Merdeka Belajar Kampus Merdeka (MBKM) mencakup berbagai aspek, salah satunya yaitu Program Magang dan Studi Independen Bersertifikat (MSIB). Adapun Studi Independen Bersertifikat Kampus Merdeka merupakan program yang memberikan peluang bagi mahasiswa untuk belajar di luar kegiatan perkuliahan, \
            tetapi diakui sebagai bagian dari kegiatan perkuliahan. Mahasiswa yang mengikuti program ini dapat mempelajari kompetensi yang spesifik, praktis, dan sesuai dengan kebutuhan di masa depan langsung dari pakarnya serta mempraktekkan kompetensi yang dipelajari dalam proyek nyata.
          </p>
        </div>
      </div>
    </section>

    <!-- UPI -->

    <!-- Footer -->
    <footer></footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
